#articleCreator
  display: flex
  flex-flow: column
  align-items: center
  input, textarea
    display: flex
    flex-flow: column
    align-items: center
    margin: auto
    border-radius: 5px
    background-color: var(--backgroundColor)
    color: var(--foregroundColor)
  label
    width: 100%
    background-color: unset
    color: unset
  a
    color: var(--foregroundColor)
  p
    text-align: center

#headlineInput
  text-align: center
  font-size: 2em
  width: 50%
  margin-bottom: 30px
  margin-top: 10px

#contentInput
  width: 95%
  min-height: 500px
  text-align: left
  margin-bottom: 20px

#submitBTN
  font-size: 1.5em
  width: 30%

  &:disabled
    background-color: var(--disabledColor)
    cursor: not-allowed
