@use "root"

.dropdownbutton 
  @include root.navigation-buttons

// The container <div> - needed to position the dropdown content
.dropdown 
  position: relative
  display: inline-block
  // Show the dropdown menu on hover
  &:hover .dropdown-content
    display: block

// Dropdown Content (Hidden by Default)
.dropdown-content 
  display: none
  position: absolute
  min-width: 160px
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
  z-index: 1
  left: -100%
  user-select: none
  & a
    padding: 12px 16px
    border-radius: 0
    border-top: unset
    border-bottom: unset
    height: min-content
    width: 100%
    text-align: center
    @include root.default-options
    &:first-child
      border-top-left-radius: 10px
      border-top-right-radius: 10px
      border-top: solid 2px var(--border-color)
    &:last-child
      border-bottom-left-radius: 10px
      border-bottom-right-radius: 10px
      border-bottom: solid 2px var(--border-color)