body
  background-color: var(--backgroundColor)
  color: var(--foregroundColor)
  padding: 0
  margin: 0
  font-family: 'JetBrains Mono', monospace

main
  min-height: 81.6vh

h1, h2, h3, h4, h5, h6
  text-align: center
  font-family: 'aldrich', sans-serif